ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0
}
ul li a{
    height: 35rem;
    width: 30rem;
    border: 3px solid whitesmoke;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.origins span{
    border-radius: 4rem;
    background-color: whitesmoke;
    color: gray;
    font-size: 1.5rem;
    margin-right :0.3em;
    display: inline-block;
}
.cook-time{
    font-size: 1.5rem;
    flex: 3;
    text-align: right;
}
.cook-time span{
font-style: italic;
color:blue;
}
.price{
    color:green;
    font-size: 2rem;
}